<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.data.settings.google-analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', '{{ site.data.settings.google-analytics }}', { send_page_view: false });
  gtag('event', 'page_view', { page_path: location.pathname + location.search });

  document.addEventListener('turbo:load', function () {
    gtag('event', 'page_view', { page_path: location.pathname + location.search });
  });
</script>